<div class="row text-center">
    <div class="class404 greyFontColor">404 <span class="error">error</span></div>
    <div class="row greyFontColor">
        <div>
            Page not found <span class="glyphicon glyphicon-search"></span>
        </div>
        <br>
        <div>
            <p>We are sorry but the page you are looking for does not exist.</p>
        </div>
        <br><br><br>
        <div>
            <button (click)="onClick();" class="btn btn-default"><<< Go Back to Home Page</button>
        </div>
    </div>
</div>