<div>
    <div class="row padding-lr-15">
        <h3>{{productTitle}}</h3>
    </div>
    <div class="well well-sm">
        <strong>Search</strong>&nbsp;&nbsp;
        <input type="text" placeholder="Search" class="search" [(ngModel)]="filterData">
        <a href="javascript:void(0);" (click)="toggleImage();">{{ showImage ? 'Hide Images' : 'Show Images' }}</a>
    </div>
    <div class="row padding-lr-15">Search For: {{filterData}}</div><br>
    <div id="products" class="row list-group" *ngIf="showProductListing">        
        <div class="item  col-xs-3 col-lg-3" *ngFor="let product of products | productFilter:filterData">
            <div class="thumbnail">
                <div class="image-box text-center">
                    <img class="group list-group-image" [src]="product.imageUrl" alt="{{product.productName}}" *ngIf="showImage" />
                </div>
                <div class="caption">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h4 class="group inner list-group-item-heading">
                                <a [routerLink]="['/product', product.productId]">{{product.productName|myUpper}}</a>
                            </h4>
                        </div>
                    </div>  
                    <p class="group inner list-group-item-text description">{{product.productCode}}: {{product.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <div><i>{{product.releaseDate}}</i></div>
                            <star-comp [rating]="product.starRating"></star-comp>
                        </div>
                        <div class="col-xs-12 col-md-5 text-right">
                            <p class="lead" [ngStyle]="{'color':product.price<30?'red':'blue'}">{{product.price|currency}}</p>
                        </div>
                    </div>
                    <div class="row padding-lr-15">
                        <a class="btn btn-success btn-add-to-cart" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    